.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.info {
  display: flex;
  flex-direction: column;
  max-width: 480px;
  width: 100%;

  h1 {
    font-size: 2.25rem;
    color: #242424;
  }

  img {
    object-fit: contain;
    width: 10rem;
  }
}

.form {
  background-color: white;
  padding: 4rem;
  border-radius: 8px;
  max-width: 480px;
}
